<h1>User info</h1>
 <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no-image.jpeg" %>

 <div>name</div>
 <div><%= user.name %></div>

 <div>introduction</div>
 <div><%= user.introduction%></div>

 <div><%= link_to "edit",edit_user_path(user.id) %></div>