<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>title</th>
      <th>opinion</th>
    </tr>
  </thead>

  <tbody>
   <% @user.each do |user| %>
   <tr>
     <%# *ここ途中！　imageは％で囲わない！%>
     <td><%= user.image_id %></td>
     <td><%= user.book.title %></td>
     <td><%= user.book.opinion%></td>
   </tr>
   <% end %>
   
  </tbody>
</table>