<h1>New Book</h1>



<%= form_with model:book, local:true do |new| %>

  <h4>Title</h4>
  <%= new.text_field :title %>

  <h4>Opinion</h4>
  <%= new.text_area :body %>

  <%= new.submit 'Create Book' %>

<% end %>